.vscode/**
.vscode-test/**
out/test/**
src/**
.gitignore
vsc-extension-quickstart.md
**/tsconfig.json
**/tslint.json
**/*.map
**/*.ts

# Extra file to ignore
azure-pipelines.yml
.azure-pipelines/
ISSUE_TEMPLATE.md
PULL_REQUEST_TEMPLATE.md
.github/
vsc-extension-quickstart.md
node_modules/**/test/**
.all-contributorsrc
node_modules
out/
src/
tsconfig.json
webpack.config.json
coverage/
out-cov/
.eslintrc
.prettierrc
docs
testworkspace
webpack.config.js
.prettierrc.js