trigger:
  branches:
    include:
    - master
    - greenkeeper/*
pr:
  branches:
    include:
    - '*'
    # must quote since "*" is a YAML reserved character; we want a string

stages:
  - stage: Build_the_Extension
    jobs:
    - job: Linux
      strategy:
        matrix:
          linux:
            imageName: Hosted Ubuntu 1604
          mac:
            imageName: Hosted macOS
          windows:
            imageName: Hosted VS2017
          node_10_x:
            node_version: 10.x
          node_12_x:
            node_version: 12.x
      pool:
        name: $(imageName)
      # pool:
        # https://docs.microsoft.com/en-us/azure/devops/pipelines/agents/hosted?view=azure-devops&tabs=yaml#use-a-microsoft-hosted-agent
        # name: Hosted Ubuntu 1604
        demands: npm

      steps:
      - template: .azure-pipelines/build.yml
      - template: .azure-pipelines/lint.yml
      - template: .azure-pipelines/test.yml
      - template: .azure-pipelines/package.yml

    # - job: Windows
    #   pool:
    #     name: Hosted VS2017
    #     demands: npm
    #   strategy:
    #     matrix:
    #       node_10_x:
    #         node_version: 10.x
    #       node_12_x:
    #         node_version: 12.x
    #   steps:
    #   - template: .azure-pipelines/build.yml
    #   - template: .azure-pipelines/lint.yml
    #   - template: .azure-pipelines/test.yml

    # - job: macOS
    #   pool:
    #     name: Hosted macOS
    #     demands: npm
    #   strategy:
    #     matrix:
    #       node_10_x:
    #         node_version: 10.x
    #       node_12_x:
    #         node_version: 12.x
    #   steps:
    #   - template: .azure-pipelines/build.yml
    #   - template: .azure-pipelines/lint.yml
    #   - template: .azure-pipelines/test.yml

