trigger:
  branches:
    include:
    - master

jobs:
- job: Linux
  pool:
    # macOS-10.13
    # https://docs.microsoft.com/en-us/azure/devops/pipelines/agents/hosted?view=azure-devops&tabs=yaml#use-a-microsoft-hosted-agent
    vmImage: 'Ubuntu 16.04'
    demands: npm
  steps:
  - task: NodeTool@0
    displayName: 'Use Node 8.x'
    inputs:
      versionSpec: 8.x

  - task: Npm@1
    displayName: 'Install dependencies'
    inputs:
      verbose: false
      command: install

  - task: Npm@1
    displayName: 'Compile TypeScript'
    inputs:
      command: custom
      verbose: false
      customCommand: 'run compile'
    enabled: true

  # starts a process that allows the vscode test environment to run
  - script: |
      set -e
      /usr/bin/Xvfb :10 -ac >> /tmp/Xvfb.out 2>&1 &
      disown -ar
    displayName: 'Start xvfb'

  - task: Npm@1
    displayName: 'Run tests via npm script'
    inputs:
      command: custom
      verbose: false
      customCommand: 'run just-test'
    env:
      DISPLAY: :10
    enabled: true

  - script: 'node node_modules/vscode/bin/test'
    displayName: 'Run tests'
    enabled: false
    env:
      DISPLAY: :10
- job: Windows
  pool:
    # macOS-10.13
    # https://docs.microsoft.com/en-us/azure/devops/pipelines/agents/hosted?view=azure-devops&tabs=yaml#use-a-microsoft-hosted-agent
    name: 'Hosted VS2017'
    vmImage: 'vs2017-win2016'
    demands: npm
  steps:
  - task: NodeTool@0
    displayName: 'Use Node 8.x'
    inputs:
      versionSpec: 8.x

  - task: Npm@1
    displayName: 'Install dependencies'
    inputs:
      verbose: false
      command: install

  - task: Npm@1
    displayName: 'Compile TypeScript'
    inputs:
      command: custom
      verbose: false
      customCommand: 'run compile'
    enabled: true

  - task: Npm@1
    displayName: 'Run tests via npm script'
    inputs:
      command: custom
      verbose: false
      customCommand: 'run just-test'
    env:
      DISPLAY: :10
    enabled: true

  - script: 'node node_modules/vscode/bin/test'
    displayName: 'Run tests'
    enabled: false
    env:
      DISPLAY: :10
- job: macOS
  pool:
    # https://docs.microsoft.com/en-us/azure/devops/pipelines/agents/hosted?view=azure-devops&tabs=yaml#use-a-microsoft-hosted-agent
    vmImage: macos-10.13
    demands: npm
  strategy:
    matrix:
      node_8_x:
        node_version: 8.x
      node_10_x:
        node_version: 10.x
  steps:
  - task: NodeTool@0
    displayName: 'Use Node 8.x'
    inputs:
      versionSpec: $(node_version)

  - task: Npm@1
    displayName: 'Install dependencies'
    inputs:
      verbose: false
      command: install

  - task: Npm@1
    displayName: 'Compile TypeScript'
    inputs:
      command: custom
      verbose: false
      customCommand: 'run compile'
    enabled: true

  - task: Npm@1
    displayName: 'Run tests via npm script'
    inputs:
      command: custom
      verbose: false
      customCommand: 'run just-test'
    env:
      DISPLAY: :10
    enabled: true

  - script: 'node node_modules/vscode/bin/test'
    displayName: 'Run tests'
    enabled: false
    env:
      DISPLAY: :10

  - script: |
      npx vsce package -o release.vsix
    displayName: 'create vsix'

  - task: PublishPipelineArtifact@0
    displayName: 'Publish Pipeline Artifact'
    inputs:
      targetPath: release.vsix
