$accentColor = #00b3e6
$textColor = #2c3e50
$borderColor = #00b3e6
$codeBgColor = #011627
$arrowBgColor = #00b3e6

.navbar,
.navbar .links,
.navbar .search-box
  background-color: #011627


span.site-name.can-hide,
.nav-item,
a.repo-link,
a.nav-link,
a.nav-link.router-link-active,
svg.icon.outbound
  color: #fff
  &:hover
    color: #00b3e6

